<html>
<body>
    <head>
        <link rel="stylesheet" href="static/main.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <div class="nav">
        <img src="static/thepolygrpahjournal_comp.jpg" style="width:150px;height:100px;">
        <h1 class="hll">The Polygraph Journal </h1>    
    </div>  

<form method="POST">
    <h2>Target url</h2>

    <p>Ex: https://www.toyota.com/, https://www.cnn.com/, https://en.wikipedia.org/wiki/Toyota</p>
    <input name="url">
    <h2>Words you want to find </h2>
    <input name="text">
    <input type="submit">
</form>

</body>
</html>